---
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/splash-header.jpg
tagline: >
  Him we proclaim, warning everyone and teaching everyone with all wisdom, that we may present everyone mature in Christ.<br/> ~ Colossians 1:28 

feature_row:
  - intro: 
    excerpt: 'This is the online home of Keelan Cook. I am a missiologist by training, and I serve as the associate director for the Union Baptist Association as well as an instructor of North American Missiology for Southeastern Baptist Theological Seminary. Here, you can find my work in the form of articles, public research notes, and the projects about which I'm most excited. This is also where you will find my curriculum vitae. These projects may be work related or of some other manner entirely.'  
  - title: "Articles"
    excerpt: "See my recent posts and articles here. I write regularly on church and missions, both international and North American."
    url: "/posts/"
    btn_class: "btn--primary"
    btn_label: "Read"
  - title: "Commonplace Book"
    excerpt: "My commonplace book is where I do my thinking in public. You can explore my public notes on any number of topics."
    url: "https://commonplace.ml"
    btn_class: "btn--primary"
    btn_label: "Explore"
  - title: "Peoples Next Door"
    excerpt: "The Peoples Next Door is a diaspora missions initiative for local churches. The least-reached are in arm's reach of your local church."
    url: "https://peoplesnextdoor.com"
    btn_class: "btn--primary"
    btn_label: "Learn more"      
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
